.photo {
  display: flex;
  justify-content: space-around;
  background-color: rgb(102, 102, 240);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.elements {
  width: 1400px;
  height: 1200px;
  margin: 0;
}
